name: CATALOG CI

on:
   push:
     branches:
       - main
   pull_request:
     branches:
       - main

jobs:
  build_and_test:
     name: build the project
     runs-on: ubuntu-latest
     steps:
       - uses: actions/checkout@v5

       - name: install dependencies
         run: npm ci
       - name: run eslint
         run : npm run lint
       - name: test and coverage
         run: npm run test

       - name: build -ts
         run: npm run build
        
         env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
  # build_and_push_docker:
  #      name: build and push to dcoker
  #      runs-on: ubuntu-latest

  #      env:
  #        IMAGE_NAME: janna750/mern-stack-catalog-service
  #        IMAGE_TAG: build-${{ github.run_number }}
        
  #      steps:
  #        - name: Checkout repository
  #          uses: actions/checkout@v5

  #        - name: login to dockerhub
  #          uses: docker/login-action@v1
         
  #          with:
  #            username: ${{secrets.DOCKER_HUB_USERNAME}}
  #            password: ${{secrets.DOCKER_HUB_PASSWORD}}
        
  #        - name: build docker image
  #          run: docker build -t ${{env.IMAGE_NAME}}:${{env.IMAGE_TAG}} -f docker/prod/Dcokerfile
  #        - name: push docker image to dockerhub
  #          run: docker push ${{env.IMAGE_NAME}}:${{env.IMAGE_TAG}}
          

          
